@import url(components/cards.css);

:root {
    --background: hsl(220, 15%, 8%);
    --border: rgb(48, 53, 65);
}

header {
    background-color: var(--background);
    height: 70px;
    border-bottom: 1px solid var(--border);
}

header .container {
    height: 100%;
    align-items: center;
}

/* Main */
main {
    padding-block: 40px;
    width: 100%;
}

main .container {
    flex-direction: column;
    width: 100%;
}

main h1 {
    font-size: 28px;
    font-weight: 700;
}

main span {
    color: var(--cor-cinza);
    font-size: 15px;
}

main .grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

main .grid .card {
    flex-basis: 350px;
}

main .procurar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

main .procurar img {
    width: 60px;
}

main .procurar .btn {
    width: fit-content;
}