.card {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--border);
    background-color: rgba(21, 24, 29, .3);
}

.card .icon {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid var(--cor-borda-verde);
    background-color: var(--cor-verde-transparente);
    margin-bottom: 20px;
}

.card img {
    width: 60%;
}

.card h3 {
    font-size: 22px;
    font-weight: 600;
    line-height: 1;
}

.card small {
    color: var(--cor-cinza);
}

.card .btn {
    margin-top: 20px;
    width: 100%;
}