.logo-fit-planner {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-fit-planner h1,
.logo-fit-planner h1 span {
    color: aliceblue;
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 1px;
}

.logo-fit-planner h1 span {
    color: var(--cor-verde);
}

.logo-fit-planner img {
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid var(--cor-borda-verde);
    background-color: var(--cor-verde-transparente);
}