@import url(../login.css);

form {
    max-width: 550px;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.width50 {
    width: 48%;
}

form textarea {
    resize: vertical;
}

@media (max-width: 350px) {
    .width50 {
        width: 100%;
    }
}