body {
    background: var(--cor-preta);
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: rgba(17, 19, 23, 0.8);
    /* backdrop-filter: blur(5px); */
    backdrop-filter: blur(5px);
    height: 70px;
    border-bottom: 1px solid var(--cor-borda-verde);
    position: fixed;
    top: 0;
    z-index: 999;
}

header .container {
    height: 100%;
    align-items: center;
}

header nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

header nav ul li a {
    color: aliceblue;
    font-size: 14px;
    font-weight: 500;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: var(--cor-verde);
}

h1 {
    color: aliceblue;
    font-weight: 700;
    line-height: 1;
}

h1 span {
    color: var(--cor-verde);
    font-weight: 700;
}

p {
    color: var(--cor-cinza);
    font-size: clamp(13px, 5vw, 18px);
}

.container-cards {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
}



/* Section Hero */
#hero {
    position: relative;
    height: 100vh;
    /* margin-top: 70px; */
    background: url('/images/pages/fundo.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 1;
    background: linear-gradient(360deg, rgba(17, 19, 23, 1) 1%, rgba(17, 19, 23, 0) 100%);
    background-color: rgba(17, 19, 23, 0.5);
}

#hero h1 {
    font-size: clamp(28px, 5vw, 60px);
    z-index: 2;
}

#hero .container {
    align-items: start;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#hero .container h1,
#hero .container p,
#hero .stats,
#hero a {
    max-width: 700px;
    z-index: 2;
}

#hero .stats {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid var(--cor-borda-verde);
    padding-top: 30px;
}

#hero .stats h2 {
    color: var(--cor-verde);
    font-weight: 700;
    font-size: 28px;
}

#hero .stats small {
    color: var(--cor-cinza);
}



/* Cards */
.card-sections {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-sections .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-sections h1 {
    font-size: clamp(22px, 5vw, 38px);
}

.card-sections .container p {
    max-width: 700px;
}

.container-cards .card {
    padding: 30px;
    border-radius: 10px;
    background-color: #15181d;
    border: 1px solid rgba(255, 255, 255, .1);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
    text-align: left;
    flex: 1 1 300px;
    transition: .3s;
}

.container-cards .card p {
    color: aliceblue;
    font-size: 24px;
    font-weight: 600;
}

.container-cards .card span {
    color: var(--cor-cinza);
    font-size: 15px;
}

.container-cards .card img {
    height: 55px;
    width: 55px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--cor-borda-verde); 
    background-color: var(--cor-verde-transparente);
    transition: .3s;
}

#perfis .container-cards .card:hover {
    border: 1px solid var(--cor-borda-verde);
    background-color: var(--cor-verde-transparente);
}

#perfis .container-cards .card:hover img {
    transform: scale(1.15);
}

.container-cards .card ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.container-cards .card ul li {
    margin-left: 18px;
    list-style: disc;
    font-size: 14px;
    color: var(--cor-cinza);
}

.container-cards .card ul li::marker {
  color: var(--cor-verde);
}

/* Section funcionalidades */
#funcionalidades .container-cards .card {
    flex: 1 1 400px;
    padding: 20px;
}

#funcionalidades .container-cards .card:hover {
    box-shadow: 0 0px 50px rgba(28, 202, 92, 0.1);
}

#funcionalidades .container-cards .card img {
    height: 45px;
    width: 45px;
}

#funcionalidades .container-cards .card:hover img {
    transform: scale(1.1) rotate(3deg);
}

#funcionalidades .container-cards .card p {
    font-size: 20px;
}



/* Footer */
footer {
    background-color: #15181d;
    border-top: 1px solid rgba(255, 255, 255, .1);
    padding-block: 50px;
    color: var(--cor-cinza);
}

footer .logo-fit-planner h1 {
    font-size: 17px;
}

footer .logo-fit-planner h1 span {
    font-size: 17px;
}

footer .item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 350px;
}

footer .item .social-medias {
    display: flex;
    gap: 25px;
}

footer .item .social-medias a {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    /* background-color: red; */
}

footer .item .social-medias a:hover {
    background-color: rgba(34, 195, 93, 0.2);
}

footer .item .social-medias img {
  width: 25px;
}

footer .item h4 {
    color: aliceblue;
    font-weight: 500;
}

footer .item ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .item ul li {
    font-size: 14px;
}

footer .footer-direitos {
    border-top: 1px solid rgba(255, 255, 255, .1);
    padding-top: 30px;
    margin-top: 20px;
    font-size: 14px;
}

footer .footer-direitos .termos {
    display: flex;
    gap: 15px;
}