body {
    background: linear-gradient(to bottom right, #111317 0%, #1a1d23 50%, #111317 100%);
    min-height: 100vh;
}

header {
    background-color: var(--background);
    height: 70px;
    border-bottom: 1px solid var(--border);
}

header .container {
    height: 100%;
    align-items: center;
    justify-content: start;
}

header .container .btn-primary {
    margin-left: auto;
}

/* Main */
main {
    padding-block: 40px;
    width: 100%;
}

main .container {
    flex-direction: column;
    width: 100%;
}

main h1 {
    font-size: 28px;
    font-weight: 700;
}

main span {
    color: var(--cor-cinza);
    font-size: 15px;
}

main .grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

main .grid .card {
    flex-basis: 350px;
}

main .procurar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

main .procurar img {
    width: 60px;
}

main .procurar .btn {
    width: fit-content;
}

/* Card */
.card {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--border);
    background-color: rgba(21, 24, 29, .3);
}

.card .icon {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid var(--cor-borda-verde);
    background-color: var(--cor-verde-transparente);
    margin-bottom: 20px;
}

.card img {
    width: 60%;
}

.card h3 {
    font-size: 22px;
    font-weight: 600;
    line-height: 1;
}

.card small {
    color: var(--cor-cinza);
}

.card .btn {
    margin-top: 20px;
    width: 100%;
}